.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(129, 172, 157);
}

.todoList-wrapper {
  display: flex;
}
